/* THOREL lélian */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  background-color: #333;
}

/*tous les lien seron en blanc et non souligné.*/
a,
a:hover,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  color: #fff;
  background-color: rgb(0, 0, 0);
  padding: 20px;
}

header .title {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 50px;
}

header .site {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px;

  font-size: 35px;
  background-color: #3b49a0;
}

header .dl {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px;

  font-size: 35px;
  background-color: #3b49a0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b49a0;
  width: max-content;
  max-width: 1500px;
  margin: 0 auto;
}

li {
  float: left;
}

li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #6f7ee4;
}

li a:hover {
  background-color: #111;
}

main {
  flex-grow: 1;
  background-color: #333;
  padding: 30px;
}

main .history {
  display: flex;
  justify-content: center;
  padding: 20px;
}

main .text {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  flex-grow: 1;

  max-width: 1500px;
  margin: 0 auto;
}

span {
  background-color: #3b49a0;
}

.text .histoire {
  display: inline-block;
  text-align: justify;
  font-size: 25px;
  width: 600px;
  padding: 20px;

  color: #fff;
}

.text .maj {
  color: rgb(0, 0, 0);
  width: 600px;
}

caption {
  font-size: 25px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

table {
  margin: 0 auto;
  color: #fff;
  background-color: #3b49a0;
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: 14px;
  border: solid 2px;
  padding: 10px;
}

td {
  padding: 5px;
  border: solid 0.5px #4755b1;
  vertical-align: middle;
}

th {
  padding: 5px;
  border: solid 0.5px #4755b1;
  vertical-align: middle;
}

main .avantages {
  padding: 20px;
}

footer {
  display: flex;
  flex-direction: column;

  margin: 0;
  height: 15em;
  padding: 20px;
  padding-top: 50px;
  bottom: 0;
  width: 100%;

  color: #fff;
  background-color: rgb(0, 0, 0);
}

footer .fottext {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  font-size: 20px;
}

footer .resaux {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

footer .instagram {
  background-color: #3b49a0;
  padding: 20px;

  border-radius: 30px;
}

footer .twitter {
  background-color: #3b49a0;
  padding: 20px;
  border-radius: 30px;
}

footer .facebook {
  background-color: #3b49a0;
  padding: 20px;
  border-radius: 30px;
}

.logoinsta {
  height: 30px;
  width: 30px;
}

.logotwitter {
  height: 30px;
  width: 30px;
}

.logofb {
  height: 30px;
  width: 30px;
}

.leia {
  color: #111;
}

/* CODE CSS deuxième page*/

.logogif {
  display: flex;
  justify-content: center;
  padding: 40px;
}

main .backlogo {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  padding: 40px;

  background-color: #3b49a0;
}

.logos {
  display: flex;
  margin: 0;
  height: 50px;
  width: 50px;
}

h1 {
  display: flex;
  justify-content: center;

  color: #fff;
}

.vodiphone {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* CODE CSS troisième page (avantages | inconvénients) */
.textcontener {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.good {
  border-radius: 20px;
  padding: 15px;
  width: 500px;

  background-color: #3b49a0;
  color: #fff;
}

.bad {
  width: 500px;
  border-radius: 20px;
  padding: 15px;

  background-color: #3b49a0;
  color: #fff;
}

.iphoneimg {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 500px;
}
